.blink {
    animation: blinker 1.5s linear infinite;
    color: #E50046;
}
@keyframes blinker{
    50%{
        opacity: 50%;
    }
}
#corousel{
    position: absolute;
    

}
#order{
    position: relative;
    padding-top: 200px;
}
.shortcut {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}
.shortcutmenu {
    width: 250px;
    background: url(./image/menu.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
}
.shortcutvision {
    width: 250px;
    background: url(./image/our\ vision.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
}
.shortcutcontact {
    width: 250px;
    background: url(./image/contact\ us.jpg);
    background-size: cover;
    height: 150px;
}
.shortcut div h3 {
    margin-left: 130px;
    width: 120px;
    /* color: white; */
    font-weight: 600;
    border-radius: 0px 0px 0px 0px;
    font-size: 15px;
    border: none;
    /* background: linear-gradient(90deg, rgb(253, 61, 2) 1%, rgb(248, 50, 1)51%, rgb(255, 40, 2) 100%); */
}
.shortcut div {
    /* border-radius: 0px 43px 0px 0px; */
   
    border-radius: 3px;
    text-align: center;
    transition: 0.4s;
}
.shortcut div:hover {
    transition: 0.3s;
    transform: scale(1.06,1.06);
}

.winrow {
    background-color: white;
    box-shadow: 0px 2px 1px rgb(255, 182, 24);
}
.winrow .card {
    border: none;
    padding-top: 10px;
    padding-bottom: 5px;
}
.winrow .card-title {
    font-size: 17px;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.winrow .card-text {
    font-size: 15px;
}
.winrow .card-img-top {
    padding: 2px;
    margin-top: 15px;
    background-color: rgb(255, 182, 24);
    border-radius: 38%;
}
.winrow div:hover{
    
        transition: 0.3s;
        transform: scale(1.06,1.06);
       
}
h3{
    font-family: Niconne, cursive;
}
.homemenu div:hover {
    transition: 0.3s;
    transform: scale(1.06,1.06);
}
  .product {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      width: 250px;
    }
    button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #218838;
    }
.bbklink a{
    text-decoration: none;
    color: black;
    font-style: italic;
    line-height: 12px;
}
.col-lg-4{
    margin-left: 100px;
}
    .socialmedia a{
        text-decoration: none;
        color: rgb(77, 222, 77);
    
    }
    .copyright p{
        text-align: center;
    }
    .address{
        font-style: italic;
        line-height: 15px;

    }
   
   